<!-- tuition_app/templates/tuition_app/registration.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuition Registration</title>
    <link rel="stylesheet" href="{% static 'tuition_app/css/styles.css' %}">
</head>
<body>
    <button id="dark-mode" class="dark-mode-toggle">🌙</button>
    <div class="container">
        <h1>STUDENT REGISTRATION</h1>
        <form method="post" enctype="multipart/form-data" id="registration-form">
            {% csrf_token %}
            <p>{{ form.name.label_tag }} {{ form.name }} {{ form.name.errors }}</p>
            <p>{{ form.father_name.label_tag }} {{ form.father_name }} {{ form.father_name.errors }}</p>
            <p>{{ form.father_phone.label_tag }} {{ form.father_phone }} {{ form.father_phone.errors }}</p>
            <p>{{ form.father_occupation.label_tag }} {{ form.father_occupation }} {{ form.father_occupation.errors }}</p>
            <p>{{ form.img.label_tag }} {{ form.img }} {{ form.img.errors }}</p>
            <p>{{ form.phone.label_tag }} {{ form.phone }} {{ form.phone.errors }}</p>
            <p>{{ form.address.label_tag }} {{ form.address }} {{ form.address.errors }}</p>
            <p>{{ form.standard.label_tag }} {{ form.standard }} {{ form.standard.errors }}</p>
            <p>{{ form.board.label_tag }} {{ form.board }} {{ form.board.errors }}</p>
            <p>{{ form.subject.label_tag }} {{ form.subject }} {{ form.subject.errors }}</p>
            <!-- School Section -->
            <p id="school-dropdown-field">
                {{ form.school.label_tag }} {{ form.school }} {{ form.school.errors }}
            </p>
            <p id="school-text-field" style="display: none;">
                <label for="hsc-school">School Name (HSC):</label>
                <input type="text" id="hsc-school" name="hsc_school" placeholder="Enter HSC school name">
            </p>
            <p>{{ form.branch.label_tag }} {{ form.branch }} {{ form.branch.errors }}</p>
            <p>{{ form.fees.label_tag }} {{ form.fees }} {{ form.fees.errors }}</p>
            <p>{{ form.payment_mode.label_tag }} {{ form.payment_mode }} {{ form.payment_mode.errors }}</p>
            <p class="qr">
                <img src="{% static 'tuition_app/imgs/qr.png' %}" alt="Payment Information" width="300px" height="300px">
            </p>
            <p>{{ form.payment_proof.label_tag }} {{ form.payment_proof }} {{ form.payment_proof.errors }}</p>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{% static 'tuition_app/js/script.js' %}"></script>
</body>
</html>